//黑幕
.heimu,.heimu a{
    background-color: #252525;
    color:#252525;
    text-shadow: none;
}::selection{
    background:#9ab0c0;
    color:#fff;
}
//鼠标悬停
.heimu:hover,.heimu:hover a{
    transition:color .13s linear;
    color:#fff;
}

//用法:
//<span class='heimu' title='你知道的太多了'>黑幕测试</span>