$bg-color = convert(hexo-config('colors.bg'));

:root {
  --hty-mode: 'light';
  --hty-bg-color: $bg-color;
  --hty-text-color: #333333;
  --hty-secondary-text-color: #555555;
  --post-block-bg-color: white;
  // star-markdown-css
  --smc-link-color: $colors.primary;
  --hty-bg-color20:$white20;
  --hty-bg-color50:$white50;
  --hty-bg-color90:$white90;
  --hty-bg-color95:$white95;
}
